<div class="page-header">
  <%= link_to @contestant, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Teilnehmer bearbeiten</h1>
</div>

<%= render 'form' %>
